.brands{

padding:100px 8%;

background:#F8F8F8;

}

.brands-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

gap:25px;

margin-top:60px;

}

.brand-card{

height:140px;

background:white;

border-radius:16px;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 8px 25px rgba(0,0,0,.08);

transition:.35s;

cursor:pointer;

}

.brand-card:hover{

background:#8D7B68;

transform:translateY(-8px);

}

.brand-card h3{

font-size:32px;

color:#232323;

transition:.3s;

}

.brand-card:hover h3{

color:white;

}