.categories{

padding:90px 8%;

background:white;

}

.category-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

margin-top:60px;

}

.category-card{

background:#F6F5F3;

border-radius:16px;

padding:45px;

text-align:center;

transition:.35s;

cursor:pointer;

}

.category-card:hover{

background:#232323;

transform:translateY(-8px);

}

.category-card svg{

font-size:55px;

color:#8D7B68;

margin-bottom:25px;

}

.category-card:hover svg{

color:white;

}

.category-card h3{

font-size:22px;

color:#232323;

transition:.3s;

}

.category-card:hover h3{

color:white;

}