.featured{

padding:90px 8%;

background:#F6F5F3;

}

.section-title{

text-align:center;

margin-bottom:60px;

}

.section-title span{

color:#8D7B68;

font-weight:600;

letter-spacing:2px;

}

.section-title h2{

font-size:45px;

margin:15px 0;

color:#232323;

}

.section-title p{

color:#777;

}

.products-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}

.product-card{

background:white;

border-radius:16px;

overflow:hidden;

box-shadow:0 8px 30px rgba(0,0,0,.08);

transition:.35s;

}

.product-card:hover{

transform:translateY(-8px);

}

.product-card img{

width:100%;

height:250px;

object-fit:cover;

}

.product-info{

padding:20px;

}

.product-info h3{

font-size:22px;

margin-bottom:15px;

color:#232323;

}

.price{

display:flex;

align-items:center;

gap:12px;

margin-bottom:20px;

}

.new{

font-size:24px;

font-weight:bold;

color:#8D7B68;

}

.old{

text-decoration:line-through;

color:#999;

}

.product-info button{

width:100%;

padding:15px;

border:none;

background:#232323;

color:white;

font-size:16px;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

.product-info button:hover{

background:#8D7B68;

}