.filter-sidebar{

    width:270px;

    background:#ffffff;

    border-radius:12px;

    padding:25px;

    box-shadow:0 5px 18px rgba(0,0,0,.08);

    height:fit-content;

}

.filter-sidebar h2{

    margin-bottom:25px;

    color:#23211D;

    font-size:22px;

}

.filter-group{

    display:flex;

    flex-direction:column;

    margin-bottom:22px;

}

.filter-group label{

    margin-bottom:8px;

    color:#666;

    font-size:14px;

    font-weight:600;

}

.filter-group select{

    height:45px;

    border:1px solid #ddd;

    border-radius:8px;

    padding:0 12px;

    background:white;

    cursor:pointer;

    font-size:15px;

}