.orders-page{

padding:100px 8%;

background:#f8f8f8;

min-height:100vh;

}

.order-card{

background:white;

padding:25px;

border-radius:15px;

margin-bottom:25px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.order-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}

.status{

background:#FFF3CD;

color:#856404;

padding:6px 15px;

border-radius:20px;

font-size:14px;

font-weight:bold;

}

.order-item{

display:flex;

justify-content:space-between;

margin:12px 0;

}

.empty-orders{

text-align:center;

padding:100px 0;

}