.products-layout{

    display:flex;

    gap:30px;

    align-items:flex-start;

}

.products-content{

    flex:1;

}.product-card{

transition:.35s;

}

.product-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 35px rgba(0,0,0,.12);

}