.products-page{
    padding:70px 6%;
    background:#fafafa;
}

.products-layout{
    display:flex;
    gap:35px;
    align-items:flex-start;
}

.products-content{
    flex:1;
}

.products-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(270px,1fr));
    gap:30px;
}

@media(max-width:900px){

.products-layout{

flex-direction:column;

}

}