*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  background:#f6f6f6;
  font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

a{
  text-decoration:none;
}

button{
  font-family:inherit;
}

img{
  display:block;
  max-width:100%;
}